import torch
from neural_genesis import nn


class {}(nn.Module):
    def __init__(self, {}):
        super({}, self).__init__()
        {}

    def forward(self, {}):
        {}
        return {}


def my_model(**kwargs):
    return {}()
